<div class="mt-5">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titel</th>
      <th scope="col">Inhalt</th>
      <th scope="col">Erstellt am</th>
      <th scope="col">Löschen</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let note of displayedNotes; index as i;" (click)="doOpenDetail(note)">
      <th scope="row">{{i + 1}}</th>
      <td>{{note.title}}</td>
      <td>{{note.content}}</td>
      <td>{{note.date | date}}</td>
      <td>
        <button class="btn btn-danger" (click)="doRemoveNote(note)">Entfernen</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
