<div class="d-flex justify-content-center mt-5 px-5" *ngIf="isFailed()">
  <h5 class="text-danger">Konnte keine Notizen laden</h5>
</div>
<div class="d-flex justify-content-center mt-5 px-5" *ngIf="isEmpty()">
  <h5 class="text-danger">Aktuell gibt es keine Notizen</h5>
</div>
<div class="d-flex justify-content-center mt-5 px-5" *ngIf="isLoading()">
  <div class="spinner-border text-secondary" style="width: 2.5rem; height: 2.5rem;" role="status">
    <span class="visually-hidden">Laden</span>
  </div>
</div>
<div class="mt-5 px-5" *ngIf="isSuccess()">
  <table class="table text-center">
    <thead>
    <tr>
      <th scope="col">Titel</th>
      <th scope="col">Erstellt am</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let note of notes; index as i;" (click)="detail(note)">
      <td>{{note.title}}</td>
      <td>{{note.date | date}}</td>
      <td>
        <button class="btn btn-danger" (click)="remove(note)">Entfernen</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
